
body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
 
}
.container {
    
  width: 600px;
  margin: 0 auto;
 
    left: 500px;
    width: 75px;
    height: 50px;
}

